//! **************************************************************************
// Written by: Map P.20131013 on Thu Jun 30 15:58:11 2016
//! **************************************************************************

SCHEMATIC START;
NET "PIX_CLK_BUFGP/IBUFG" BEL "PIX_CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

