//! **************************************************************************
// Written by: Map P.20131013 on Mon Jul 04 11:58:32 2016
//! **************************************************************************

SCHEMATIC START;
COMP "HS" LOCATE = SITE "T4" LEVEL 1;
COMP "Blue<0>" LOCATE = SITE "U5" LEVEL 1;
COMP "VS" LOCATE = SITE "U3" LEVEL 1;
COMP "Blue<1>" LOCATE = SITE "U4" LEVEL 1;
COMP "PIX_DATAA<0>" LOCATE = SITE "G18" LEVEL 1;
COMP "CLKIN_IN" LOCATE = SITE "B8" LEVEL 1;
COMP "PIX_DATAA<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "PIX_DATAA<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "PIX_DATAA<3>" LOCATE = SITE "K17" LEVEL 1;
COMP "PIX_DATAA<4>" LOCATE = SITE "L14" LEVEL 1;
COMP "PIX_DATAA<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "PIX_DATAA<6>" LOCATE = SITE "N17" LEVEL 1;
COMP "PIX_DATAA<7>" LOCATE = SITE "R17" LEVEL 1;
COMP "RST_IN" LOCATE = SITE "B18" LEVEL 1;
COMP "Red<0>" LOCATE = SITE "R9" LEVEL 1;
COMP "Red<1>" LOCATE = SITE "T8" LEVEL 1;
COMP "Green<0>" LOCATE = SITE "N8" LEVEL 1;
COMP "Red<2>" LOCATE = SITE "R8" LEVEL 1;
COMP "Green<1>" LOCATE = SITE "P8" LEVEL 1;
COMP "Green<2>" LOCATE = SITE "P6" LEVEL 1;
SCHEMATIC END;

